// Common.xcconfig
//
// This file defines common settings that should be enabled for every new
// project. Typically, you want to use Debug, Release, or a similar variant
// instead.
//

CODE_SIGN_IDENTITY = iPhone Developer
PROVISIONING_PROFILE = Automatic

SWIFT_VERSION = 3.0
WARNING_CFLAGS = -Wno-unused-parameter -Wextra -Wall

