//
// Debug.xcconfig
//
// This file defines the base configuration for a Debug build of any project.
// This should be set at the project level for the Debug configuration.
//

#include "../Pods/Target Support Files/Pods-WWDCast/Pods-WWDCast.debug.xcconfig"
#include "Common/Common.xcconfig"
#include "Environment/Develop.xcconfig"
#include "BuildType/Debug.xcconfig"
#include "Provisioning/Debug.xcconfig"
#include "Common/Combine.xcconfig"
